# .github/workflows/test-action.yml
name: Test action

on:
  push:
  issues:
  pull_request:
  workflow_dispatch:
  release:
    types: [published]
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  pull-requests: read
  statuses: write

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello Workflow
        run: echo "Hello Workflow!"
